openapi: 3.1.0
info:
  title: Vik Theatre API
  version: 0.1.0
  description: Student platform API. Single source of truth — generates Go server, TS client, Dart client.
servers:
  - url: https://api.viktheatre.in/v1
  - url: http://localhost:8080/v1

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: Liveness probe
      security: []
      responses:
        "200": { description: ok }

  /auth/otp/send:
    post:
      summary: Send OTP to phone (MSG91)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OtpSendReq" }
      responses:
        "204": { description: sent }

  /auth/otp/verify:
    post:
      summary: Verify OTP, return JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OtpVerifyReq" }
      responses:
        "200":
          description: jwt pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }

  /me:
    get:
      summary: Current user
      responses:
        "200":
          description: user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }

  /students/{id}/channel:
    get:
      summary: Public/private student channel
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: channel
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Channel" }

  /admin/assets:
    post:
      summary: Create asset, returns Mux direct-upload URL
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AssetCreateReq" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetCreateRes" }

  /consent/{token}:
    get:
      summary: Fetch consent context (preview) for the parent consent UI
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: consent context
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset: { $ref: "#/components/schemas/Asset" }
                  student: { $ref: "#/components/schemas/User" }
                  batch_name: { type: string }
        "404": { description: invalid or expired token }
    post:
      summary: Parent signs consent
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConsentSignReq" }
      responses:
        "200": { description: signed }

  /admin/assets/{id}/publish:
    post:
      summary: Request publish / trigger consent flow for an asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "202": { description: accepted — consent request dispatched }
        "404": { description: asset not found }

  /students/{id}/progress:
    get:
      summary: Student progress report — rubric averages + timeline
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: progress report
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Progress" }

  /assets/{id}/rubric:
    get:
      summary: Rubric scores for a single asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: rubric scores
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/RubricScore" }

  /assets/{id}/notes:
    get:
      summary: List notes on an asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: notes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Note" }
    post:
      summary: Add a note to an asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
                private: { type: boolean }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Note" }

  /admin/assets/{id}/rubric:
    post:
      summary: Score an asset on one rubric dimension (admin/instructor)
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RubricScore" }
      responses:
        "201": { description: scored }

  /admin/social/library:
    get:
      summary: List assets eligible for social posting (consented + public)
      responses:
        "200":
          description: library
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/SocialLibraryItem" }

  /admin/social/posts:
    get:
      summary: List social posts for the current week
      responses:
        "200":
          description: posts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/SocialPost" }
    post:
      summary: Create a social post (queued)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset_id, platforms, caption, scheduled_at]
              properties:
                asset_id: { type: string, format: uuid }
                platforms:
                  type: array
                  items: { $ref: "#/components/schemas/SocialPlatform" }
                caption: { type: string }
                scheduled_at: { type: string, format: date-time }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SocialPost" }

  /admin/social/posts/{id}/schedule:
    post:
      summary: Push a queued post to Buffer for scheduling
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: scheduled }

  /admin/assets/{id}/clips:
    get:
      summary: AI-suggested clips for a longer video asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: clip suggestions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ClipSuggestion" }

  /payments/order:
    post:
      summary: Create a Razorpay order for a fee period
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period, amount_paise]
              properties:
                period: { type: string, example: "2026-05" }
                amount_paise: { type: integer, format: int64 }
      responses:
        "200":
          description: order created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PaymentOrder" }

  /payments:
    get:
      summary: List payments for the authenticated parent
      responses:
        "200":
          description: payments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Payment" }

  /payments/dues:
    get:
      summary: Pending due for the authenticated parent
      responses:
        "200":
          description: pending due
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dues" }

  /parent/consents:
    get:
      summary: List all consents for the logged-in parent
      responses:
        "200":
          description: consent list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ConsentItem" }

  /parent/consents/pending:
    get:
      summary: Pending consent count for the logged-in parent
      responses:
        "200":
          description: pending count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }

  /admin/students:
    get:
      summary: List students for admin table
      responses:
        "200":
          description: student list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StudentListItem" }

  /notifications:
    get:
      summary: List current user's notifications (newest first, max 100)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }

  /notifications/unread-count:
    get:
      summary: Get current user's unread notification count
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                required: [count]
                properties:
                  count: { type: integer }

  /notifications/{id}/read:
    post:
      summary: Mark a single notification as read
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: ok }

  /notifications/mark-all-read:
    post:
      summary: Mark all of the current user's notifications as read
      responses:
        "200": { description: ok }

  /webhooks/mux:
    post:
      summary: Mux webhook (asset.ready etc.)
      security: []
      responses: { "204": { description: ok } }

  /webhooks/razorpay:
    post:
      summary: Razorpay webhook
      security: []
      responses: { "204": { description: ok } }

  # ---------------------------------------------------------------------
  # Restaurant platform — Phase 1 (discovery, content, reviews, admin)
  # ---------------------------------------------------------------------
  /restaurants:
    get:
      summary: List/discover restaurants
      security: []
      parameters:
        - in: query
          name: cuisine
          schema: { type: string }
        - in: query
          name: location
          schema: { type: string }
        - in: query
          name: city
          schema: { type: string }
        - in: query
          name: min_price
          schema: { type: integer }
        - in: query
          name: max_price
          schema: { type: integer }
        - in: query
          name: capacity_min
          schema: { type: integer }
        - in: query
          name: rating_min
          schema: { type: number, format: float }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Paginated list of restaurants
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RestaurantListResult" }

  /restaurants/{id}:
    get:
      summary: Restaurant detail
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Restaurant detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RestaurantDetail" }
        "404": { description: not found }

  /restaurants/{id}/videos:
    get:
      summary: Videos for a restaurant
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: video list
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items: { $ref: "#/components/schemas/RestaurantVideo" }

  /restaurants/{id}/images:
    get:
      summary: Images for a restaurant
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: image list
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items: { $ref: "#/components/schemas/RestaurantImage" }

  /admin/restaurants/{id}/images:
    post:
      summary: Add an image to a restaurant (admin password)
      security:
        - adminPassword: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateImageReq" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RestaurantImage" }
        "401": { description: invalid admin password }

  /admin/restaurants/{id}/videos:
    post:
      summary: Add a video to a restaurant (admin password)
      security:
        - adminPassword: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateVideoReq" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RestaurantVideo" }
        "401": { description: invalid admin password }

  /reviews/{restaurant_id}:
    get:
      summary: List verified reviews for a restaurant
      security: []
      parameters:
        - in: path
          name: restaurant_id
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: paginated reviews
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewListResult" }

  /reviews:
    post:
      summary: Submit a review (email verification required to publish)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateReviewReq" }
      responses:
        "202":
          description: accepted; verification email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  review: { $ref: "#/components/schemas/RestaurantReview" }
                  verified: { type: boolean }
                  message: { type: string }

  /reviews/verify:
    get:
      summary: Verify a review via email link
      security: []
      parameters:
        - in: query
          name: token
          required: true
          schema: { type: string }
      responses:
        "200":
          description: review verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
        "404": { description: invalid or expired token }

  # ---------------------------------------------------------------------
  # Kibana single-restaurant endpoints
  # ---------------------------------------------------------------------
  /kibana/profile:
    get:
      summary: Kibana restaurant profile
      security: []
      responses:
        "200":
          description: Kibana detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RestaurantDetail" }

  /kibana/banquets:
    get:
      summary: Kibana banquet halls
      security: []
      responses:
        "200":
          description: banquet halls
          content:
            application/json:
              schema:
                type: object
                properties:
                  banquets:
                    type: array
                    items: { $ref: "#/components/schemas/BanquetHall" }

  /kibana/menus:
    get:
      summary: Kibana menu (categories with items)
      security: []
      responses:
        "200":
          description: menu
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items: { $ref: "#/components/schemas/MenuCategory" }

  /videos:
    get:
      summary: All Kibana videos
      security: []
      responses:
        "200":
          description: videos
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items: { $ref: "#/components/schemas/RestaurantVideo" }

  /images:
    get:
      summary: All Kibana images
      security: []
      responses:
        "200":
          description: images
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items: { $ref: "#/components/schemas/RestaurantImage" }

  /reviews:
    get:
      summary: Kibana reviews (verified, paginated)
      security: []
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: paginated reviews
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewListResult" }

  /bookings:
    post:
      summary: Submit an event booking enquiry
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateBookingReq" }
      responses:
        "201":
          description: booking accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Booking" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    adminPassword:
      type: apiKey
      in: header
      name: X-Admin-Password
      description: Shared restaurant-platform admin password (env ADMIN_PASSWORD).

  schemas:
    OtpSendReq:
      type: object
      required: [phone]
      properties:
        phone: { type: string, example: "+919876543210" }

    OtpVerifyReq:
      type: object
      required: [phone, code]
      properties:
        phone: { type: string }
        code:  { type: string, minLength: 4, maxLength: 8 }

    TokenPair:
      type: object
      required: [access_token, refresh_token]
      properties:
        access_token:  { type: string }
        refresh_token: { type: string }

    User:
      type: object
      required: [id, role]
      properties:
        id:     { type: string, format: uuid }
        name:   { type: string }
        phone:  { type: string }
        email:  { type: string }
        role:   { type: string, enum: [student, parent, instructor, admin] }
        locale: { type: string, example: en }

    Channel:
      type: object
      properties:
        student:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            role: { type: string }
            locale: { type: string }
        assets:
          type: array
          items: { $ref: "#/components/schemas/Asset" }

    Asset:
      type: object
      properties:
        id:               { type: string, format: uuid }
        title:            { type: string }
        type:             { type: string, enum: [monologue, scene, showcase, catalog] }
        mux_playback_id:  { type: string }
        duration_s:       { type: integer }
        privacy:          { type: string, enum: [private, pending_consent, public] }
        created_at:       { type: string, format: date-time }

    AssetCreateReq:
      type: object
      required: [student_id, type, title]
      properties:
        student_id: { type: string, format: uuid }
        type:       { type: string, enum: [monologue, scene, showcase, catalog] }
        title:      { type: string }
        note:       { type: string }
        rubric:
          type: object
          additionalProperties: { type: integer, minimum: 0, maximum: 100 }

    AssetCreateRes:
      type: object
      properties:
        asset_id:           { type: string, format: uuid }
        mux_upload_url:     { type: string }

    RubricScore:
      type: object
      required: [dimension, score]
      properties:
        dimension: { type: string, example: voice_projection }
        score: { type: integer, minimum: 0, maximum: 100 }

    ConsentItem:
      type: object
      required: [id, asset_id, status]
      properties:
        id: { type: string, format: uuid }
        asset_id: { type: string, format: uuid }
        scope_channel: { type: boolean }
        scope_social: { type: boolean }
        scope_print: { type: boolean }
        scope_valid_months: { type: integer, enum: [6, 12, 24] }
        status: { type: string, enum: [pending, signed, revoked] }
        signed_at: { type: string, format: date-time }
        pdf_url: { type: string }

    StudentListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        phone: { type: string }
        batch_name: { type: string }
        asset_count: { type: integer }
        consent_status: { type: string, enum: [none, pending, signed] }

    ProgressDimension:
      type: object
      required: [dimension, score]
      properties:
        dimension: { type: string }
        score: { type: integer, minimum: 0, maximum: 100 }

    ProgressTimelineEntry:
      type: object
      required: [date, asset_id, asset_title, scores]
      properties:
        date: { type: string, format: date-time }
        asset_id: { type: string, format: uuid }
        asset_title: { type: string }
        scores:
          type: array
          items: { $ref: "#/components/schemas/ProgressDimension" }
        note: { type: string }

    Progress:
      type: object
      required: [averages, timeline]
      properties:
        averages:
          type: array
          items: { $ref: "#/components/schemas/ProgressDimension" }
        timeline:
          type: array
          items: { $ref: "#/components/schemas/ProgressTimelineEntry" }

    Note:
      type: object
      required: [id, asset_id, author_id, body, private, created_at]
      properties:
        id: { type: string, format: uuid }
        asset_id: { type: string, format: uuid }
        author_id: { type: string, format: uuid }
        body: { type: string }
        private: { type: boolean }
        created_at: { type: string, format: date-time }

    SocialPlatform:
      type: string
      enum: [ig_reel, yt_short, fb, linkedin]

    SocialLibraryItem:
      type: object
      required: [id, title]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        student_name: { type: string }
        mux_playback_id: { type: string }
        duration_s: { type: integer }
        thumbnail: { type: string }

    SocialPost:
      type: object
      required: [id, platforms, caption, status, created_at]
      properties:
        id: { type: string, format: uuid }
        asset_id: { type: string, format: uuid }
        platforms:
          type: array
          items: { $ref: "#/components/schemas/SocialPlatform" }
        caption: { type: string }
        scheduled_at: { type: string, format: date-time }
        buffer_id: { type: string }
        status: { type: string, enum: [queued, scheduled, posted, failed] }
        created_at: { type: string, format: date-time }
        asset_title: { type: string }
        student_name: { type: string }
        thumbnail: { type: string }

    ClipSuggestion:
      type: object
      required: [start_s, end_s, title, reason]
      properties:
        start_s: { type: integer }
        end_s: { type: integer }
        title: { type: string }
        reason: { type: string }

    Payment:
      type: object
      required: [id, user_id, amount_paise, status, created_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        razorpay_order_id: { type: string }
        amount_paise: { type: integer, format: int64 }
        status: { type: string, enum: [created, paid, failed] }
        period: { type: string, example: "2026-05" }
        created_at: { type: string, format: date-time }

    PaymentOrder:
      type: object
      required: [order_id, razorpay_key_id, amount_paise]
      properties:
        order_id: { type: string }
        razorpay_key_id: { type: string }
        amount_paise: { type: integer, format: int64 }

    Dues:
      type: object
      required: [period, amount_paise]
      properties:
        period: { type: string, example: "2026-05" }
        amount_paise: { type: integer, format: int64 }

    Notification:
      type: object
      required: [id, user_id, kind, title, meta, created_at]
      properties:
        id:         { type: string, format: uuid }
        user_id:    { type: string, format: uuid }
        kind:
          type: string
          enum: [consent_pending, asset_ready, feedback, class_reminder, fee_due]
        title:      { type: string }
        body:       { type: string, nullable: true }
        meta:       { type: object, additionalProperties: true }
        read_at:    { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    ConsentSignReq:
      type: object
      required: [scope]
      properties:
        otp:   { type: string }
        signed_name: { type: string }
        scope:
          type: object
          properties:
            channel: { type: boolean }
            social:  { type: boolean }
            print:   { type: boolean }
            valid_months: { type: integer, enum: [6, 12, 24] }

    # ----- Restaurant platform (Phase 1) ---------------------------------
    Hour:
      type: object
      properties:
        day:    { type: string, enum: [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday] }
        open:   { type: string, example: "11:00" }
        close:  { type: string, example: "23:00" }
        closed: { type: boolean }

    RestaurantCard:
      type: object
      required: [id, name, cuisine, location, city, avg_rating, review_count, has_3d_tour, video_count]
      properties:
        id:                   { type: string, format: uuid }
        name:                 { type: string }
        cuisine:              { type: array, items: { type: string } }
        location:             { type: string }
        city:                 { type: string }
        avg_price_per_plate:  { type: integer, nullable: true }
        avg_rating:           { type: number, format: float }
        review_count:         { type: integer }
        has_3d_tour:          { type: boolean }
        hero_image_url:       { type: string, nullable: true }
        video_count:          { type: integer }

    RestaurantDetail:
      type: object
      required: [id, name, cuisine, location, city, address, hours, capacity, highlights, has_3d_tour, avg_rating, review_count, is_verified, created_at]
      properties:
        id:                   { type: string, format: uuid }
        name:                 { type: string }
        description:          { type: string, nullable: true }
        cuisine:              { type: array, items: { type: string } }
        location:             { type: string }
        city:                 { type: string }
        address:              { type: string }
        latitude:             { type: number, nullable: true }
        longitude:            { type: number, nullable: true }
        phone:                { type: string, nullable: true }
        email:                { type: string, nullable: true }
        website:              { type: string, nullable: true }
        hours:                { type: array, items: { $ref: "#/components/schemas/Hour" } }
        avg_price_per_plate:  { type: integer, nullable: true }
        capacity:             { type: integer }
        dress_code:           { type: string, nullable: true }
        highlights:           { type: array, items: { type: string } }
        hero_image_url:       { type: string, nullable: true }
        has_3d_tour:          { type: boolean }
        avg_rating:           { type: number, format: float }
        review_count:         { type: integer }
        is_verified:          { type: boolean }
        owner_id:             { type: string, format: uuid, nullable: true }
        created_at:           { type: string, format: date-time }

    RestaurantListResult:
      type: object
      required: [restaurants, total, has_more]
      properties:
        restaurants: { type: array, items: { $ref: "#/components/schemas/RestaurantCard" } }
        total:       { type: integer }
        has_more:    { type: boolean }

    RestaurantVideo:
      type: object
      required: [id, restaurant_id, title, type, views, created_at]
      properties:
        id:                { type: string, format: uuid }
        restaurant_id:     { type: string, format: uuid }
        title:             { type: string }
        type:
          type: string
          enum: [ambiance, chef_special, menu_showcase, event_highlight, testimonial]
        mux_playback_id:   { type: string, nullable: true }
        thumbnail_url:     { type: string, nullable: true }
        duration_seconds:  { type: integer, nullable: true }
        views:             { type: integer }
        created_at:        { type: string, format: date-time }

    RestaurantImage:
      type: object
      required: [id, restaurant_id, url, type, sort_order, created_at]
      properties:
        id:             { type: string, format: uuid }
        restaurant_id:  { type: string, format: uuid }
        url:            { type: string }
        type:
          type: string
          enum: [hero, gallery, menu, interior, exterior, dish]
        caption:        { type: string, nullable: true }
        sort_order:     { type: integer }
        created_at:     { type: string, format: date-time }

    CreateImageReq:
      type: object
      required: [url]
      properties:
        url:        { type: string }
        type:       { type: string, default: gallery }
        caption:    { type: string, nullable: true }
        sort_order: { type: integer, default: 0 }

    CreateVideoReq:
      type: object
      required: [title]
      properties:
        title:            { type: string }
        type:             { type: string, default: ambiance }
        mux_asset_id:     { type: string, nullable: true }
        mux_playback_id:  { type: string, nullable: true }
        thumbnail_url:    { type: string, nullable: true }
        duration_seconds: { type: integer, nullable: true }

    RestaurantReview:
      type: object
      required: [id, restaurant_id, user_name, rating, photos, created_at]
      properties:
        id:              { type: string, format: uuid }
        restaurant_id:   { type: string, format: uuid }
        user_name:       { type: string }
        rating:          { type: number, minimum: 1, maximum: 5 }
        title:           { type: string, nullable: true }
        comment:         { type: string, nullable: true }
        food_rating:     { type: number, nullable: true }
        ambiance_rating: { type: number, nullable: true }
        service_rating:  { type: number, nullable: true }
        value_rating:    { type: number, nullable: true }
        photos:          { type: array, items: { type: string } }
        created_at:      { type: string, format: date-time }

    ReviewListResult:
      type: object
      required: [reviews, total, has_more]
      properties:
        reviews:  { type: array, items: { $ref: "#/components/schemas/RestaurantReview" } }
        total:    { type: integer }
        has_more: { type: boolean }

    CreateReviewReq:
      type: object
      required: [restaurant_id, user_name, user_email, rating]
      properties:
        restaurant_id:   { type: string, format: uuid }
        user_name:       { type: string }
        user_email:      { type: string, format: email }
        rating:          { type: number, minimum: 1, maximum: 5 }
        title:           { type: string, nullable: true }
        comment:         { type: string, nullable: true }
        food_rating:     { type: number, nullable: true }
        ambiance_rating: { type: number, nullable: true }
        service_rating:  { type: number, nullable: true }
        value_rating:    { type: number, nullable: true }
        photos:          { type: array, items: { type: string } }

    # ----- Kibana single-restaurant -------------------------------------
    BanquetHall:
      type: object
      required: [id, name, capacity_min, capacity_max, price_per_plate, hire_charge, features, images, sort_order]
      properties:
        id:               { type: string, format: uuid }
        name:             { type: string }
        description:      { type: string, nullable: true }
        capacity_min:     { type: integer }
        capacity_max:     { type: integer }
        price_per_plate:  { type: integer }
        hire_charge:      { type: integer }
        features:         { type: array, items: { type: string } }
        hero_image_url:   { type: string, nullable: true }
        images:           { type: array, items: { type: string } }
        sort_order:       { type: integer }

    MenuItem:
      type: object
      required: [id, category_id, name, price, is_veg, is_signature, spice_level, sort_order]
      properties:
        id:           { type: string, format: uuid }
        category_id:  { type: string, format: uuid }
        name:         { type: string }
        description:  { type: string, nullable: true }
        price:        { type: integer }
        is_veg:       { type: boolean }
        is_signature: { type: boolean }
        spice_level:  { type: integer, minimum: 0, maximum: 3 }
        image_url:    { type: string, nullable: true }
        sort_order:   { type: integer }

    MenuCategory:
      type: object
      required: [id, name, sort_order, items]
      properties:
        id:          { type: string, format: uuid }
        name:        { type: string }
        description: { type: string, nullable: true }
        sort_order:  { type: integer }
        items:       { type: array, items: { $ref: "#/components/schemas/MenuItem" } }

    CreateBookingReq:
      type: object
      required: [event_type, guest_count, event_date, start_time, duration_minutes, contact_name, contact_phone, contact_email]
      properties:
        banquet_hall_id:      { type: string, format: uuid, nullable: true }
        event_type:
          type: string
          enum: [wedding, corporate, private_dinner, anniversary, birthday, other]
        guest_count:          { type: integer, minimum: 1 }
        event_date:           { type: string, format: date }
        start_time:           { type: string, example: "19:30" }
        duration_minutes:     { type: integer, minimum: 30 }
        cuisine_preference:   { type: array, items: { type: string } }
        dietary_restrictions: { type: array, items: { type: string } }
        budget_per_plate:     { type: integer, nullable: true }
        special_requests:     { type: string, nullable: true }
        contact_name:         { type: string }
        contact_phone:        { type: string }
        contact_email:        { type: string, format: email }

    Booking:
      type: object
      required: [id, event_type, guest_count, event_date, start_time, duration_minutes, status, contact_name, contact_phone, contact_email, created_at]
      properties:
        id:                   { type: string, format: uuid }
        banquet_hall_id:      { type: string, format: uuid, nullable: true }
        event_type:           { type: string }
        guest_count:          { type: integer }
        event_date:           { type: string, format: date }
        start_time:           { type: string }
        duration_minutes:     { type: integer }
        cuisine_preference:   { type: array, items: { type: string } }
        dietary_restrictions: { type: array, items: { type: string } }
        budget_per_plate:     { type: integer, nullable: true }
        special_requests:     { type: string, nullable: true }
        contact_name:         { type: string }
        contact_phone:        { type: string }
        contact_email:        { type: string }
        status:
          type: string
          enum: [pending, confirmed, completed, cancelled]
        created_at:           { type: string, format: date-time }
