openapi: 3.1.0
info:
  title: Vik Theatre API
  version: 0.1.0
  description: Student platform API. Single source of truth — generates Go server, TS client, Dart client.
servers:
  - url: https://api.viktheatre.in/v1
  - url: http://localhost:8080/v1

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: Liveness probe
      security: []
      responses:
        "200": { description: ok }

  /auth/otp/send:
    post:
      summary: Send OTP to phone (MSG91)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OtpSendReq" }
      responses:
        "204": { description: sent }

  /auth/otp/verify:
    post:
      summary: Verify OTP, return JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OtpVerifyReq" }
      responses:
        "200":
          description: jwt pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }

  /me:
    get:
      summary: Current user
      responses:
        "200":
          description: user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }

  /students/{id}/channel:
    get:
      summary: Public/private student channel
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: channel
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Channel" }

  /admin/assets:
    post:
      summary: Create asset, returns Mux direct-upload URL
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AssetCreateReq" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetCreateRes" }

  /consent/{token}:
    post:
      summary: Parent signs consent
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConsentSignReq" }
      responses:
        "200": { description: signed }

  /admin/assets/{id}/publish:
    post:
      summary: Request publish / trigger consent flow for an asset
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "202": { description: accepted — consent request dispatched }
        "404": { description: asset not found }

  /consent/{token}:
    get:
      summary: Fetch consent context (preview) for the parent consent UI
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: consent context
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset: { $ref: "#/components/schemas/Asset" }
                  student: { $ref: "#/components/schemas/User" }
                  batch_name: { type: string }
        "404": { description: invalid or expired token }

  /parent/consents:
    get:
      summary: List all consents for the logged-in parent
      responses:
        "200":
          description: consent list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ConsentItem" }

  /parent/consents/pending:
    get:
      summary: Pending consent count for the logged-in parent
      responses:
        "200":
          description: pending count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }

  /admin/students:
    get:
      summary: List students for admin table
      responses:
        "200":
          description: student list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StudentListItem" }

  /webhooks/mux:
    post:
      summary: Mux webhook (asset.ready etc.)
      security: []
      responses: { "204": { description: ok } }

  /webhooks/razorpay:
    post:
      summary: Razorpay webhook
      security: []
      responses: { "204": { description: ok } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    OtpSendReq:
      type: object
      required: [phone]
      properties:
        phone: { type: string, example: "+919876543210" }

    OtpVerifyReq:
      type: object
      required: [phone, code]
      properties:
        phone: { type: string }
        code:  { type: string, minLength: 4, maxLength: 8 }

    TokenPair:
      type: object
      required: [access_token, refresh_token]
      properties:
        access_token:  { type: string }
        refresh_token: { type: string }

    User:
      type: object
      required: [id, role]
      properties:
        id:     { type: string, format: uuid }
        name:   { type: string }
        phone:  { type: string }
        email:  { type: string }
        role:   { type: string, enum: [student, parent, instructor, admin] }
        locale: { type: string, example: en }

    Channel:
      type: object
      properties:
        student:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            role: { type: string }
            locale: { type: string }
        assets:
          type: array
          items: { $ref: "#/components/schemas/Asset" }

    Asset:
      type: object
      properties:
        id:               { type: string, format: uuid }
        title:            { type: string }
        type:             { type: string, enum: [monologue, scene, showcase, catalog] }
        mux_playback_id:  { type: string }
        duration_s:       { type: integer }
        privacy:          { type: string, enum: [private, pending_consent, public] }
        created_at:       { type: string, format: date-time }

    AssetCreateReq:
      type: object
      required: [student_id, type, title]
      properties:
        student_id: { type: string, format: uuid }
        type:       { type: string, enum: [monologue, scene, showcase, catalog] }
        title:      { type: string }
        note:       { type: string }
        rubric:
          type: object
          additionalProperties: { type: integer, minimum: 0, maximum: 100 }

    AssetCreateRes:
      type: object
      properties:
        asset_id:           { type: string, format: uuid }
        mux_upload_url:     { type: string }

    RubricScore:
      type: object
      required: [dimension, score]
      properties:
        dimension: { type: string, example: voice_projection }
        score: { type: integer, minimum: 0, maximum: 100 }

    ConsentItem:
      type: object
      required: [id, asset_id, status]
      properties:
        id: { type: string, format: uuid }
        asset_id: { type: string, format: uuid }
        scope_channel: { type: boolean }
        scope_social: { type: boolean }
        scope_print: { type: boolean }
        scope_valid_months: { type: integer, enum: [6, 12, 24] }
        status: { type: string, enum: [pending, signed, revoked] }
        signed_at: { type: string, format: date-time }
        pdf_url: { type: string }

    StudentListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        phone: { type: string }
        batch_name: { type: string }
        asset_count: { type: integer }
        consent_status: { type: string, enum: [none, pending, signed] }

    ConsentSignReq:
      type: object
      required: [scope]
      properties:
        otp:   { type: string }
        signed_name: { type: string }
        scope:
          type: object
          properties:
            channel: { type: boolean }
            social:  { type: boolean }
            print:   { type: boolean }
            valid_months: { type: integer, enum: [6, 12, 24] }
